@import "../index.scss";

.details {
	@extend %container;
	@include flex(space-between);
	gap: 2rem;
	width: 100%;
	margin: 50px auto;

	.container {
		width: 50%;
		padding: 0 50px;

		.header {
			width: 100%;
			@include flex(space-between);
			flex-wrap: wrap;

			.title {
				font-size: 30px;
				font-weight: 500;
			}
		}

		.body {
			.price {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 15px;
				color: $primary-color;

				h2 {
					color: $primary-color;
					font-size: 20px;
					font-weight: 500;
				}

				del {
					color: #a7a9ac;
					font-weight: 400;
				}
			}

			.description {
				width: 70%;
				font-size: 13px;
				margin: 5px 0;
				color: $secondary-color;
			}

			.size {
				margin: 10px 0;
				color: $primary-color;
				div {
					margin: 10px 0;
				}

				button {
					border: none;
					background-color: #fff;
					width: 60px;
					height: 38px;
					border: 1px solid $primary-color;
					border-radius: 7px;
					color: $secondary-color;
					font-weight: 700;
					font-size: 10px;
					cursor: pointer;
					transition: 0.3s;
					margin-right: 10px;
				}

				button:hover {
					border: 1px solid #ececec;
					background-color: #ececec;
					color: $primary-color;
				}
			}

			.color {
        margin: 1rem 0;
				.title {
					font-size: 14px;
					font-weight: 400;
					color: $primary-color;
				}

				.icon {
					display: flex;
					align-items: center;
					gap: 0.3rem;
				}
			}
		}

		.actions {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.top {
				@include flex(space-between);
				flex-wrap: wrap;
				gap: 0.7rem;
				.quantity {
					@include flex(space-around);
					width: 153px;
					height: 50px;
					border: 1px solid $secondary-color;
					border-radius: 7px;

					button {
						background-color: transparent;
						border: none;
						font-size: 18px;
						cursor: pointer;
					}
				}

				.buy {
					border: none;
					background-color: $dark-color;
					color: #fff;
					width: 284px;
					height: 50px;
					border-radius: 7px;
					cursor: pointer;
				}
			}

			.bottom {
				.icons {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					color: #707070;
					margin-top: 1rem;
					cursor: pointer;

					li {
						display: flex;
						align-items: center;
						gap: 0.3rem;

						img {
							background-color: #fafafa;
							width: 48px;
							height: 48px;
							border-radius: 50%;
							padding: 5px 10px;
						}
					}
				}
			}
		}
	}
}
